<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <variable name="truncated_message" value="${replace:replaceWith=...:regex=true:inner=${message}:searchFor=(?&lt;\=.\{180\}).+}"/>

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${pad:padding=5:inner=${level:uppercase=true}}|${truncated_message}|${exception:format=tostring}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />

      <highlight-word foregroundColor="DarkGreen" regex="'[\d\w\[\]\.]+'" ignoreCase="false"/>
      <highlight-word foregroundColor="Cyan" regex="='.+('|\.\.\.)" ignoreCase="false"/>
      <highlight-word foregroundColor="White" backgroundColor="Red" regex="removing" ignoreCase="false"/>
      <highlight-word foregroundColor="White" backgroundColor="DarkGreen" regex="successfully" ignoreCase="false"/>
      <highlight-word foregroundColor="White" text="=" ignoreCase="false"/>
    </target>
    <target name="file" xsi:type="File" fileName="${basedir}/FillUpDoc.log" layout="${date:format=HH\:mm\:ss}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console,file" />
  </rules>
</nlog>